{% extends "base.html" %}
{% load static %}

{% block page_header %}  
    <div class="container header-container">
      <div class="row">
      <div class="col"></div>
    </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col">
            <h2>Shopping</h2>
        </div>
        </div>

        <div class="row">
            <div class="col">
                <div><table class="table">
                    <thead class="thead-light">
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                    </div>
            </div>
            </div>
{% endblock %}