{% extends "base.html" %}
{% load static %}

{% block page_header %}  
    <div class="container header-container">
      <div class="row">
      <div class="col"></div>
    </div>
    </div>
{% endblock %}

{% block content %}
<div class="container h-100">
    <div class="row h-100">
      <div class="col-8 text-center">
        <h1 class="display-3">Indulge in the world of art & craft</h1> 
        <div class="my-5">
          <h4>
            <a href="" class="shop-now-button btn btn-dark btn-lg" >Shop Now</a>
          </h4>
        </div>
      </div>      
    </div>
  </div>
{% endblock %}