body{
    background: url('/media/Hero_image.jpg') no-repeat center center fixed;
}

h1{
	color: whitesmoke
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

.font{
	text-decoration: dashed;
}