body{
    background: url('/media/Hero_image.jpg') no-repeat center center fixed;
}

h2 {
    color: whitesmoke;
}

h1{
    color: bisque;
}

.main_nav{
    background-color: black;
    color: whitesmoke;
}