<div class="collapse navbar-collapse bg-black text-white" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}"><h5>Home<span class="sr-only">(current)</span></h5></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'products' %}"><h5>Products<span class="sr-only">(current)</span></h5></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'about' %}"><h5>About</h5></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#"><h5>Contact</h5></a>
      </li>
    </ul>
  </div>